body {
  padding: 0;
  margin: 0; }

.ficha-2021-samsung .btn-call-to-acction {
  width: 260px;
  height: 55px;
  border-radius: 27.5px;
  display: block;
  margin: 47px auto 0 auto;
  cursor: pointer; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .btn-call-to-acction {
      width: 220px;
      height: 45px;
      margin: 40px auto 40px auto; } }
  .ficha-2021-samsung .btn-call-to-acction a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; }
    .ficha-2021-samsung .btn-call-to-acction a p {
      font-family: 'SamsungOne 800' !important;
      font-size: 24px !important;
      font-weight: 800 !important;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center; }

.ficha-2021-samsung .btn-call-to-acction-2021 {
  width: 260px;
  height: 55px;
  border-radius: 27.5px;
  display: block;
  margin: 47px auto 0 auto;
  cursor: pointer; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .btn-call-to-acction-2021 {
      width: 220px;
      height: 45px;
      margin: 40px auto 40px auto; } }
  .ficha-2021-samsung .btn-call-to-acction-2021 a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; }
    .ficha-2021-samsung .btn-call-to-acction-2021 a p {
      font-family: 'SamsungOne 800' !important;
      font-size: 24px !important;
      font-weight: 800 !important;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center; }

.ficha-2021-samsung .bg-black {
  background: #000000 !important; }
  .ficha-2021-samsung .bg-black a p {
    color: #ffffff !important; }

.ficha-2021-samsung .bg-white {
  background: #ffffff !important; }
  .ficha-2021-samsung .bg-white a p {
    color: #000000 !important; }

.ficha-2021-samsung .body-copy {
  margin: 70px 0 131px 0; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .body-copy {
      margin-top: 40px; } }
  .ficha-2021-samsung .body-copy p {
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .body-copy p {
        font-size: 16px !important;
        text-align: center;
        margin: 15px 0 0 0; }
        .ficha-2021-samsung .body-copy p br {
          display: none; } }

.ficha-2021-samsung .W {
  display: inherit; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .W {
      display: none; } }

.ficha-2021-samsung .W-2 {
  display: block; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .W-2 {
      display: none; } }

.ficha-2021-samsung .M {
  display: none; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .M {
      display: inherit; } }

.ficha-2021-samsung article {
  width: 100%;
  display: block;
  margin: 0 auto 0 auto;
  position: relative; }
  .ficha-2021-samsung article .wrapper {
    width: 90%;
    max-width: 1240px;
    display: block;
    margin: 0 auto 0 auto; }

.ficha-2021-samsung .img img {
  width: 100%; }

.ficha-2021-samsung .scrolling {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 11;
  bottom: 120px;
  right: 10%;
  background: rgba(226, 226, 226, 0.75);
  border-radius: 60px;
  display: none !important; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .scrolling {
      bottom: -70px; } }
  .ficha-2021-samsung .scrolling .img {
    -webkit-animation: scrollingMove 1s infinite;
    /* Safari 4+ */
    -moz-animation: scrollingMove 1s infinite;
    /* Fx 5+ */
    -o-animation: scrollingMove 1s infinite;
    /* Opera 12+ */
    animation: scrollingMove 1s infinite;
    /* IE 10+, Fx 29+ */ }

.ficha-2021-samsung .banner-1 {
  background: #000000;
  padding: 0 0 92px 0; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .banner-1 {
      padding: 0 0 50px 0; } }
  .ficha-2021-samsung .banner-1 .head {
    height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-1 .head {
        grid-template-columns: 40% 50%;
        column-gap: 10%; } }
    .ficha-2021-samsung .banner-1 .head .left .img {
      width: 100%;
      max-width: 141px; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-1 .head .left .img {
          max-width: 90px; } }
    .ficha-2021-samsung .banner-1 .head .right {
      display: flex;
      justify-content: flex-end; }
      .ficha-2021-samsung .banner-1 .head .right .img {
        width: 100%;
        max-width: 351px; }
  .ficha-2021-samsung .banner-1 .body {
    padding: 60px 0 40px 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-1 .body {
        padding: 30px 0 0 0; } }
    .ficha-2021-samsung .banner-1 .body h2, .ficha-2021-samsung .banner-1 .body h1 {
      font-size: 48px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      margin: 0;
      padding: 0; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-1 .body h2, .ficha-2021-samsung .banner-1 .body h1 {
          font-size: 22px !important; } }
    .ficha-2021-samsung .banner-1 .body h2 {
      font-family: 'SamsungSharp Medium'; }
    .ficha-2021-samsung .banner-1 .body h1 {
      font-size: 3em;
      font-family: 'SamsungSharp Bold'; }

.ficha-2021-samsung .banner-1-b article .wrapper {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .banner-1-b article .wrapper {
      grid-template-columns: 95%;
      max-width: 400px;
      column-gap: 40px; } }

.ficha-2021-samsung .banner-1-b article .left .card-producto, .ficha-2021-samsung .banner-1-b article .right .card-producto {
  padding: 0; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .banner-1-b article .left .card-producto, .ficha-2021-samsung .banner-1-b article .right .card-producto {
      padding: 30px 0 30px 0; } }

.ficha-2021-samsung .banner-1-b article .left h3, .ficha-2021-samsung .banner-1-b article .right h3 {
  font-family: 'SamsungSharp Medium';
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 15px 0 15px 0; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .banner-1-b article .left h3, .ficha-2021-samsung .banner-1-b article .right h3 {
      font-size: 22px; } }
  .ficha-2021-samsung .banner-1-b article .left h3 span, .ficha-2021-samsung .banner-1-b article .right h3 span {
    font-family: 'SamsungSharp Bold'; }

.ficha-2021-samsung .banner-1-b article .left h2, .ficha-2021-samsung .banner-1-b article .right h2 {
  font-family: 'SamsungSharp Medium';
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-top: 39px; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .banner-1-b article .left h2, .ficha-2021-samsung .banner-1-b article .right h2 {
      font-size: 22px; } }

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .ficha-2021-samsung .banner-1-b article .left h5, .ficha-2021-samsung .banner-1-b article .left h3, .ficha-2021-samsung .banner-1-b article .right h5, .ficha-2021-samsung .banner-1-b article .right h3 {
    text-align: center; } }

.ficha-2021-samsung .banner-1-b article .left .img, .ficha-2021-samsung .banner-1-b article .right .img {
  max-width: 100%;
  display: block;
  margin: 0 auto 0 auto; }

.ficha-2021-samsung .banner-1-b article .right {
  margin-top: 80px; }
  .ficha-2021-samsung .banner-1-b article .right h5 {
    font-family: 'SamsungSharp Bold';
    font-size: 30px !important;
    color: #8c8c8c;
    margin: 0; }
  .ficha-2021-samsung .banner-1-b article .right h2 {
    font-family: 'SamsungSharp Bold' !important; }

.ficha-2021-samsung .banner-1-b article .box-informations {
  width: 100%;
  max-width: 875px;
  min-height: 126px;
  border-radius: 20px;
  background-color: #f4f4f4;
  margin: 54px auto 0 auto;
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .banner-1-b article .box-informations {
      max-width: 90%;
      min-height: auto;
      padding: 0 2.5% 0 2.5%;
      margin: 20px auto 0 auto; } }
  .ficha-2021-samsung .banner-1-b article .box-informations p {
    font-family: 'SamsungSharp Medium';
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #676767; }
    .ficha-2021-samsung .banner-1-b article .box-informations p a {
      font-family: 'SamsungSharp Bold';
      text-decoration: none;
      color: #676767; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-1-b article .box-informations p {
        font-size: 16px; } }

.ficha-2021-samsung .banner-1-b article .btn-call-to-acction-2021 {
  margin: 60px 0 0 0 !important; }
  @media only screen and (min-width: 200px) and (max-width: 767px) {
    .ficha-2021-samsung .banner-1-b article .btn-call-to-acction-2021 {
      margin: 60px auto 0 auto !important; } }

.ficha-2021-samsung .banner-2 {
  background: #ffffff; }
  .ficha-2021-samsung .banner-2 .head {
    height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    padding: 120px 0 0 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-2 .head {
        padding: 60px 0 0 0;
        height: auto; } }
    .ficha-2021-samsung .banner-2 .head .center {
      display: flex;
      align-items: center;
      justify-content: center; }
      .ficha-2021-samsung .banner-2 .head .center .img {
        width: 100%;
        max-width: 80px; }
        @media only screen and (min-width: 200px) and (max-width: 767px) {
          .ficha-2021-samsung .banner-2 .head .center .img {
            max-width: 40px; } }
  .ficha-2021-samsung .banner-2 .body {
    padding-top: 60px; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-2 .body {
        padding-top: 40px; } }
    .ficha-2021-samsung .banner-2 .body h2 {
      font-size: 48px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin: 0;
      padding: 0; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-2 .body h2 {
          font-size: 22px !important; } }
    .ficha-2021-samsung .banner-2 .body h2 {
      font-family: 'SamsungSharp Medium'; }
    .ficha-2021-samsung .banner-2 .body p {
      font-family: 'SamsungOne 400';
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin: 27px 0 0 0; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-2 .body p {
          font-size: 16px !important;
          margin: 15px 0 0 0; } }
  .ficha-2021-samsung .banner-2 .banner {
    margin-top: 86px; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-2 .banner {
        margin-top: 25px; } }
    .ficha-2021-samsung .banner-2 .banner .body-copy {
      position: relative;
      display: block;
      margin-top: -3vw; }
      .ficha-2021-samsung .banner-2 .banner .body-copy p {
        font-family: 'SamsungOne 400C';
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000; }
        @media only screen and (min-width: 200px) and (max-width: 767px) {
          .ficha-2021-samsung .banner-2 .banner .body-copy p {
            font-size: 12px !important; } }

.ficha-2021-samsung .banner-3 {
  background: #ffffff; }
  .ficha-2021-samsung .banner-3 .head {
    height: 80px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 140px auto; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-3 .head {
        grid-template-columns: 100%;
        height: auto; } }
    .ficha-2021-samsung .banner-3 .head .left, .ficha-2021-samsung .banner-3 .head .rigth {
      display: flex;
      align-items: center;
      justify-content: center; }
      .ficha-2021-samsung .banner-3 .head .left .img, .ficha-2021-samsung .banner-3 .head .rigth .img {
        width: 100%;
        max-width: 80px; }
        @media only screen and (min-width: 200px) and (max-width: 767px) {
          .ficha-2021-samsung .banner-3 .head .left .img, .ficha-2021-samsung .banner-3 .head .rigth .img {
            max-width: 40px; } }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-3 .head .right {
        padding-top: 40px; } }
    .ficha-2021-samsung .banner-3 .head .right h2 {
      font-size: 48px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      margin: 0;
      padding: 0; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-3 .head .right h2 {
          font-size: 22px !important;
          text-align: center; } }
    .ficha-2021-samsung .banner-3 .head .right h2 {
      font-family: 'SamsungSharp Medium'; }
  .ficha-2021-samsung .banner-3 .body {
    padding-top: 140px;
    display: grid;
    grid-template-columns: 50% 50%; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-3 .body {
        grid-template-columns: 100%;
        padding-top: 40px; } }
    .ficha-2021-samsung .banner-3 .body p {
      font-family: 'SamsungOne 400';
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      margin: 0; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-3 .body p {
          font-size: 16px !important;
          text-align: center;
          margin: 15px 0 0 0; } }
  .ficha-2021-samsung .banner-3 .banner {
    background: #000000;
    margin: 96px 0 0 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-3 .banner {
        margin: 40px 0 0 0; } }
    .ficha-2021-samsung .banner-3 .banner .body-copy {
      position: relative;
      display: block;
      margin: 37px auto 0 auto;
      max-width: 809px; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-3 .banner .body-copy {
          max-width: 90%;
          margin: 37px auto 0 auto; } }
      .ficha-2021-samsung .banner-3 .banner .body-copy p {
        font-family: 'SamsungOne 400C';
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        margin: 20px 0 0 0;
        padding: 0; }
        @media only screen and (min-width: 200px) and (max-width: 767px) {
          .ficha-2021-samsung .banner-3 .banner .body-copy p {
            font-size: 16px !important; } }

.ficha-2021-samsung .banner-4 {
  background: #ffffff; }
  .ficha-2021-samsung .banner-4 .thumbnails {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    column-gap: 50px;
    margin-top: 89px;
    padding: 100px 0 0 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-4 .thumbnails {
        grid-template-columns: 100%;
        justify-content: center;
        margin-top: 0px;
        padding-bottom: 50px; } }
    .ficha-2021-samsung .banner-4 .thumbnails .thumb .title-thumb {
      font-family: 'SamsungSharp Bold';
      font-size: 36px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      text-decoration: underline; }
    .ficha-2021-samsung .banner-4 .thumbnails .thumb .img {
      width: 100%; }
    .ficha-2021-samsung .banner-4 .thumbnails .thumb p {
      font-family: 'SamsungOne 800';
      font-size: 24px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-4 .thumbnails .thumb p {
          font-size: 16px; } }
    .ficha-2021-samsung .banner-4 .thumbnails .thumb .list-colors h6 {
      font-family: 'SamsungOne 800';
      font-size: 24px;
      margin: 0;
      color: #c2c9d5;
      margin: 30px 0 30px 0; }
    .ficha-2021-samsung .banner-4 .thumbnails .thumb .list-colors ul {
      margin: 0;
      padding: 0; }
      .ficha-2021-samsung .banner-4 .thumbnails .thumb .list-colors ul li {
        display: flex;
        width: 100%;
        align-items: center; }
        .ficha-2021-samsung .banner-4 .thumbnails .thumb .list-colors ul li span {
          width: 40px;
          height: 40px;
          border-radius: 40px;
          margin-right: 20px; }
          @media only screen and (min-width: 200px) and (max-width: 767px) {
            .ficha-2021-samsung .banner-4 .thumbnails .thumb .list-colors ul li span {
              width: 20px;
              height: 20px;
              margin-right: 10px; } }
        .ficha-2021-samsung .banner-4 .thumbnails .thumb .list-colors ul li p {
          font-family: 'SamsungOne 600';
          font-size: 24px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #000000;
          margin: 10px 0 15px 0; }
  .ficha-2021-samsung .banner-4 .note20 {
    display: none; }
  .ficha-2021-samsung .banner-4 .note20-ultra {
    display: grid; }

.ficha-2021-samsung .especificaciones-producto {
  width: 100%;
  display: block; }
  .ficha-2021-samsung .especificaciones-producto .head {
    padding: 25px 0 25px 0; }
    .ficha-2021-samsung .especificaciones-producto .head h2, .ficha-2021-samsung .especificaciones-producto .head p {
      margin: 0;
      padding: 0; }
    .ficha-2021-samsung .especificaciones-producto .head h2 {
      font-family: 'SamsungSharp Bold';
      font-size: 48px;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .head h2 {
          font-size: 24px; } }
    .ficha-2021-samsung .especificaciones-producto .head p {
      font-family: 'SamsungOne 400';
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .head p {
          font-size: 18px; } }
  .ficha-2021-samsung .especificaciones-producto .body ul {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10%;
    margin: 0;
    padding: 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .especificaciones-producto .body ul {
        grid-template-columns: 100%;
        column-gap: 0%; } }
    .ficha-2021-samsung .especificaciones-producto .body ul li {
      list-style: none; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec {
    padding: 139px 0 132px 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .especificaciones-producto .body .thumb-espec {
        padding: 40px 0 40px 0; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec .ico {
      max-width: 61px;
      display: block;
      margin: 0 auto 0 auto; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec .ico {
          max-width: 41px; } }
      .ficha-2021-samsung .especificaciones-producto .body .thumb-espec .ico img {
        width: 100%; }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec h3, .ficha-2021-samsung .especificaciones-producto .body .thumb-espec h4, .ficha-2021-samsung .especificaciones-producto .body .thumb-espec h5 {
      margin: 0;
      padding: 0; }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec h3 {
      font-family: 'SamsungSharp Bold';
      font-size: 60px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin: 40px 0 32px 0; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec h3 {
          font-size: 40px; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec h4 {
      font-family: 'SamsungOne 800';
      font-size: 30px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec h4 {
          font-size: 20px; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec h5 {
      font-family: 'SamsungOne 800';
      font-size: 30px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #8c8c8c;
      margin: 32px 0 21px 0; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec h5 {
          font-size: 20px;
          margin: 15px 0 10px 0; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec p {
      font-family: 'SamsungOne 600';
      font-size: 30px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec p {
          font-size: 20px; } }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-2 {
    padding: 138px 0 134px 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-2 {
        padding: 30px 0 30px 0; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-2 h3, .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-2 h4 {
      margin: 0;
      padding: 0; }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-2 h3 {
      font-family: 'SamsungSharp Bold';
      font-size: 60px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-2 h3 {
          font-size: 40px; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-2 h4 {
      font-family: 'SamsungOne 800';
      font-size: 30px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #8c8c8c; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-2 h4 {
          font-size: 20px; } }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3 {
    padding: 138px 0 30px 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3 {
        padding: 30px 0 30px 0; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3 .ico {
      max-width: 61px;
      display: block;
      margin: 0 auto 0 auto; }
      .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3 .ico img {
        width: 100%; }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3 h3 {
      font-family: 'SamsungOne 800';
      font-size: 30px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #010101; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3 h3 {
          font-size: 20px; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3 h4 {
      font-family: 'SamsungSharp Bold';
      font-size: 60px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3 h4 {
          font-size: 40px; } }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_b {
    padding: 0 0 134px 0 !important; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_b {
        padding: 0 !important; } }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_c {
    padding-bottom: 139px; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_c {
        padding-bottom: 30px; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_c .ico {
      max-width: 190px;
      margin: 0 auto 40px auto; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_c .ico {
          max-width: 140px; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_c h3 {
      font-size: 60px;
      margin: 0; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_c h3 {
          font-size: 40px; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_c h5 {
      font-family: 'SamsungOne 800';
      font-size: 30px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #8c8c8c;
      margin: 0; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_c h5 {
          font-size: 20px; } }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_d .ico {
    max-width: 48px;
    margin: 0 auto 40px auto; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_d h3 {
    font-size: 60px;
    margin: 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_d h3 {
        font-size: 40px; } }
    .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_d h3 span {
      font-family: 'SamsungOne 400';
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_d h5 {
    font-family: 'SamsungOne 800';
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #8c8c8c;
    margin: 0; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_d h5 {
        font-size: 20px; } }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_e h3:nth-child(1) {
    margin-bottom: 78px; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_e h3:nth-child(2) {
    margin-bottom: 78px; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_f .ico {
    max-width: 60px;
    margin: 0 auto 40px auto; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_f h3 {
    font-size: 60px;
    margin: 0; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-3_f h5 {
    font-family: 'SamsungOne 800';
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin: 0; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-a .ico {
    max-width: 156px; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-a h3 {
    width: 240px;
    margin: 40px auto 0 auto; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-a .box-num {
    position: relative; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-a .num {
    width: 20px;
    height: 20px;
    background-color: #0074c5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'SamsungSharp Bold';
    font-size: 14.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 0 5px 0;
    position: absolute;
    top: 10px;
    left: 0; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-a .num:nth-child(1) {
    top: 10px; }
  .ficha-2021-samsung .especificaciones-producto .body .thumb-espec-a .num:nth-child(2) {
    top: 40px; }
  .ficha-2021-samsung .especificaciones-producto .body .box-usb, .ficha-2021-samsung .especificaciones-producto .body .box-cloud {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 86px auto;
    column-gap: 39px;
    justify-content: center;
    margin: 72px auto 135px auto; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .especificaciones-producto .body .box-usb, .ficha-2021-samsung .especificaciones-producto .body .box-cloud {
        grid-template-columns: 100%;
        column-gap: 0;
        margin: 30px auto 40px auto; } }
    .ficha-2021-samsung .especificaciones-producto .body .box-usb div, .ficha-2021-samsung .especificaciones-producto .body .box-cloud div {
      margin-top: 20px; }
    .ficha-2021-samsung .especificaciones-producto .body .box-usb p, .ficha-2021-samsung .especificaciones-producto .body .box-cloud p {
      font-family: 'SamsungOne 400';
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .especificaciones-producto .body .box-usb p, .ficha-2021-samsung .especificaciones-producto .body .box-cloud p {
          font-size: 20px; } }

.ficha-2021-samsung .banner-9 {
  background: #f7f7f7; }
  .ficha-2021-samsung .banner-9 .head {
    height: 300px;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%; }
    @media only screen and (min-width: 200px) and (max-width: 767px) {
      .ficha-2021-samsung .banner-9 .head {
        grid-template-columns: 100%;
        height: auto;
        padding: 20px 0 20px 0; } }
    .ficha-2021-samsung .banner-9 .head .left .legal {
      font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.6px;
      text-align: left;
      color: #8d8d8d; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-9 .head .left .legal {
          margin-bottom: 25px; } }
    .ficha-2021-samsung .banner-9 .head .left p {
      font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 4.33;
      letter-spacing: 0.6px;
      text-align: left;
      color: #8d8d8d; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-9 .head .left p {
          font-size: 10px !important;
          margin: 0;
          text-align: left;
          line-height: 1; } }
    .ficha-2021-samsung .banner-9 .head .right {
      display: flex;
      justify-content: flex-end; }
      @media only screen and (min-width: 200px) and (max-width: 767px) {
        .ficha-2021-samsung .banner-9 .head .right {
          justify-content: flex-start;
          margin-top: 15px; } }
      .ficha-2021-samsung .banner-9 .head .right .img {
        width: 100%;
        max-width: 141px; }

.ficha-2021-samsung .rotateScrolling {
  transform: rotate(180deg);
  cursor: pointer; }

@-webkit-keyframes scrollingMove {
  0% {
    opacity: 0;
    transform: translate(0, 0px); }
  100% {
    opacity: 1;
    transform: translate(0, 6px); } }

@-moz-keyframes scrollingMove {
  0% {
    opacity: 0;
    transform: translate(0, 0px); }
  100% {
    opacity: 1;
    transform: translate(0, 6px); } }

@-o-keyframes scrollingMove {
  0% {
    opacity: 0;
    transform: translate(0, 0px); }
  100% {
    opacity: 1;
    transform: translate(0, 6px); } }

@keyframes scrollingMove {
  0% {
    opacity: 0;
    transform: translate(0, 0px); }
  100% {
    opacity: 1;
    transform: translate(0, 6px); } }
