<section class="banner-1">
    <article>
        <div class="wrapper">
            <div class="head">
                <div class="left">
                    <div class="img">
                        <img src="./img/logo-samsung.png"  class="lazy loaded" title="logo-samsung" alt="logo-samsung" />
                    </div>
                </div>
                <div class="right">
                    <div class="img">
                        <img src="./img/logo-galaxy.png"  class="lazy loaded" title="logo-samsung-galaxy" alt="logo-samsung-galaxy" />
                    </div>
                </div>
            </div>
            <div class="body">
                <h2>
                    Aprovecha esta Preventa de
                </h2>
                <h1>
                    Galaxy Note20 | 20 Ultra
                </h1>
            </div>
        </div>
        <div class="wrapper">
            <div class="btn-call-to-acction">
                <a href="javascript:void(0);">
                    <p>
                        Comprar
                    </p>
                </a>
            </div>
        </div>
        <div class="banner">
            <div class="img">
                <img class="W lazy loaded" src="./img/banner-1.jpg" title="banner-samsung-1" alt="banner-samsung-1" />
                <img class="M lazy loaded" src="./img/banner-1-m.jpg" title="banner-samsung-1" alt="banner-samsung-1" />
            </div>
        </div>
        <div class="scrolling">
            <div class="img">
                <img src="./img/scrolling.png" class="lazy loaded" title="ico-scrolling" alt="ico-scrolling" />
            </div>
        </div>
    </article>
</section>


<section class="banner-1-b">
    <article>
        <div class="wrapper">
            <div class="left">
                <h3>
                    Compra tu <br/>
                    <span>Galaxy Note20 Ultra</span><br/>
                    y lleva tus
                </h3>
                <div class="card-producto">
                    <div class="img">
                        <img src="./img/buds-1.png"/>
                    </div>
                </div>
                <h2>
                    Galaxy Buds Live
                </h2>
            </div>
            <div class="right">
                <h3>
                    Compra tu <br/>
                    <span>Galaxy Note20</span><br/>
                    y lleva tus
                </h3>
                <div class="card-producto">
                    <div class="img">
                        <img src="./img/buds-2.png"/>
                    </div>
                </div>
                <h2>
                    Galaxy Buds+
                </h2>
            </div>
        </div>
        <div class="wrapper-fluid">
            <div class="box-informations">
                <p>
                    Descubre todos los regalos y cómo canjearlos
                    en <a href="https://www.dropbox.com/t/jjE3MGwOrYLSfD2N" target="_blank">shop.samsung.cl/regalogalaxy</a>
                </p> 
            </div>
        </div>
    </article>
</section>




<section class="banner-2" id="p1">
    <article>
        <div class="wrapper">
            <div class="head">
                <div class="center">
                    <div class="img">
                        <img src="./img/ico-banner-2.png" class="lazy loaded" title="ico-banner-2" alt="ico-banner-2" />
                    </div>
                </div>
            </div>
            <div class="body">
                <h2>
                    S Pen para notas 
                </h2>
                <p>
                    La potencia de escribir sin lápiz ni papel. 
                </p>
            </div>
        </div>
        <div class="banner">
            <div class="img">
                <img class="W lazy loaded" src="./img/banner-2.jpg" title="banner-samsung-2" alt="banner-samsung-2" />
                <img class="M lazy loaded" src="./img/banner-2-m.jpg" title="banner-samsung-2" alt="banner-samsung-2" />
            </div>
            <div class="body-copy">
                <p>
                    Disponible en aplicación Samsung Notes.
                </p>
            </div>
            
        </div>
    </article>
</section>

<section class="banner-3">
    <article>
        <div class="wrapper">
            <div class="body">
                <div class="head">
                    <div class="left">
                        <div class="img">
                            <img src="./img/ico-banner-3.png" class="lazy loaded" title="ico-banner-3" alt="ico-banner-3" />
                        </div>
                    </div>
                    <div class="right">
                        <h2>
                            Pantalla<br/> más fluida 
                        </h2>
                    </div>
                </div>
                <p>
                    Potencia tu experiencia visual  sin interrupciones con efectos de pantalla limpios y suaves con una tasa de refresco de 120Hz. Y descubre una reacción más rápida de todos tus comandos con 240 Hz de respuesta.
                </p>
            </div>
        </div>
        <div class="banner">
            <div class="img">
                <img class="W lazy loaded" src="./img/banner-3.jpg" title="banner-3" alt="banner-samsung-3" />
                <img class="M lazy loaded" src="./img/banner-3-m.jpg" title="banner-3" alt="banner-samsung-3" />
            </div>
            <div class="body-copy">
                <p>
                    Disponible solo en Galaxy Note20 Ultra
                </p>
                <p>
                    Pantalla de 6,7” Galaxy Note20 y 6,9”  Galxy Note20 Ultra, superficie medida en diagonal de forma rectangular sin considerar bordes redondeados ni cámara.
                </p>
            </div>
        </div>
    </article>
</section>


<section class="banner-4">
    <article>
        <div class="banner">
            <div class="img">
                <img class="W lazy loaded" src="./img/banner-4.jpg" title="banner-4" alt="banner-samsung-4" />
                <img class="M lazy loaded" src="./img/banner-4-m.jpg" title="banner-4" alt="banner-samsung-4" />
            </div>
        </div>
        <div class="wrapper">
            <div class="btns">
                <div class="left">
                    <h3>Galaxy Note20</h3>
                </div>
                <div class="rigth">
                    <h3 class="active">Galaxy Note20 Ultra</h3>
                </div>
            </div>
            <div class="thumbnails note20">
                <div class="thumb">
                    <div class="img">
                        <img src="./img/thumb-1.png" alt="thumb-1" />
                    </div>
                    <p>Mystic Bronze</p>
                </div>
                <div class="thumb">
                    <div class="img">
                        <img src="./img/thumb-2.png" alt="thumb-2" />
                    </div>
                    <p>Mystic Green</p>
                </div>
                <div class="thumb">
                    <div class="img">
                        <img src="./img/thumb-3.png" alt="thumb-3" />
                    </div>
                    <p>Mystic Gray</p>
                </div>
            </div>
            <div class="thumbnails note20-ultra">
                <div class="thumb">
                    <div class="img">
                        <img src="./img/thumb-1-ultra.png" alt="thumb-1" />
                    </div>
                    <p>Mystic Bronze</p>
                </div>
                <div class="thumb">
                    <div class="img">
                        <img src="./img/thumb-2-ultra.png" alt="thumb-2" />
                    </div>
                    <p>Mystic White</p>
                </div>
                <!-- <div class="thumb">
                    <div class="img">
                        <img src="./img/thumb-3-ultra.png" alt="thumb-3" />
                    </div>
                    <p>Mystic Black</p>
                </div> -->
            </div>
        </div>
        
    </article>
</section>

<section class="banner-5">
    <article>
        <div class="wrapper">
            <div class="body">
                <div class="head">
                    <div class="left">
                        <div class="img">
                            <img src="./img/ico-banner-5.png" class="lazy loaded" title="ico-banner-5" alt="ico-banner-5"/>
                        </div>
                    </div>
                    <div class="right">
                        <h2>
                            Integración<br/> con Microsoft
                        </h2>
                        <p>
                            El Powerphone que potencia<br/> tu trabajo.
                        </p>
                        <div class="img">
                            <img src="./img/logo-microsoft.png" class="lazy loaded" title="logo-microsoft" alt="logo-microsoft" />    
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <div class="img">
                        <img class="W lazy loaded" src="./img/banner-5.png" title="banner-samsung-5" alt="banner-samsung-5" />
                        <img class="M lazy loaded" src="./img/banner-5-m.png" title="banner-samsung-5" alt="banner-samsung-5" />
                    </div>
                </div>
            </div>
            <div class="body-copy">
                <p>
                    Disponible en aplicación Samsung Notes. Requiere que equipo con el cual se<br/> sincroniza posea versión Windows 10 o superior.
                </p>
            </div>
        </div>
        
    </article>
</section>


<section class="banner-6">
    <article>
        <div class="wrapper">
            <div class="head">
                <div class="center">
                    <div class="img">
                        <img src="./img/ico-banner-6.png" class="lazy loaded" title="ico-banner-6" alt="ico-banner-6" />
                    </div>
                </div>
            </div>
            <div class="body">
                <h2>
                    Batería Inteligente
                </h2>
                <p>
                    Batería que potencia tu juego por más tiempo. Más acción y menos cables.
                </p>
            </div>
        </div>
        <div class="banner">
            <div class="img">
                <img class="W lazy loaded" src="./img/banner-6.jpg" title="banner-samsung-6" alt="banner-samsung-6" />
                <img class="M lazy loaded" src="./img/banner-6.jpg" title="banner-samsung-6" alt="banner-samsung-6" />
            </div>
        </div>
    </article>
</section>



<section class="banner-7">
    <article>
        <div class="wrapper">
            <div class="body">
                <p>
                    La duración de la batería varía según conexión y tipo de red, aplicaciones utilizadas y frecuencia de llamadas entre<br/>
                    otros factores: La duración de la batería varía según conexión y tipo de red, aplicaciones utilizadas y frecuencia de<br/> llamadas entre otros factores.
                </p>
                <h2>
                    Una poderosa experiencia<br/> mejorada con tu ecosistema<br/> Galaxy
                </h2>
            </div>
        </div>
        <div class="banner">
            <div class="img">
                <img class="W lazy loaded" src="./img/banner-7.jpg" title="banner-samsung-7" alt="banner-samsung-7" />
                <img class="M lazy loaded" src="./img/banner-7-m.jpg" title="banner-samsung-7" alt="banner-samsung-7" />
            </div>
        </div>
    </article>
</section>

<section class="banner-8">
    <article>
        <div class="wrapper">
            <div class="video">
                <a data-fancybox href="https://www.youtube.com/watch?v=fATSntfL67U&t=" target="_blank">
                    <div class="img">
                        <img class="W lazy loaded" src="./img/banner-8.jpg" title="banner-samsung-8" alt="banner-samsung-8" />
                        <img class="M lazy loaded" src="./img/banner-8-m.jpg" title="banner-samsung-8" alt="banner-samsung-8" />
                    </div>
                </a>
            </div>
            <div class="body-copy">
                <div class="img">
                    <img src="./img/ico-legal-samsung.png" class="lazy loaded" title="img-legal-samsung" alt="img-legal-samsung" />
                </div>
            </div>   
        </div>
    </article>
</section>



<section class="banner-9">
    <article>
        <div class="wrapper">
            <div class="head">
                <div class="left">
                    <p class="legal">
                        Imagen simulada. Promoción válida desde 28/08/2020 al 09/09/2020  por la compra de un Galaxy Note20 o Note20 Ultra, o hasta agotar stock de 100 unidades de Galaxy Note20 o de 100 unidades de Note20 Ultra. Modelos y colores según disponibilidad en tienda. Regalo consiste en un descuento, para conocer los términos y condiciones ingresa a shop.samsung.cl/regalogalaxy. Oferta no acumulable con otras promociones, descuentos, bonos, regalos o copagos.
                    </p>
                    <p>
                        Copyright© 1995-2020 SAMSUNG. Todos los derechos reservados.
                    </p>
                </div>
                <div class="right">
                    <div class="img">
                        <img src="./img/logo-samsung-b.png" class="lazy loaded" title="logo-samsung" alt="logo-samsung" />
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>