<section class="banner-1">
    <article>
        <div class="wrapper">
            <div class="head">
                <div class="left">
                    <div class="img">
                        <img src="./img/logo-samsung.png"  alt="logo-samsung" />
                    </div>
                </div>
                <!-- <div class="right">
                    <div class="img">
                        <img src="./img/logo-galaxy.png"  alt="logo-samsung-galaxy" />
                    </div>
                </div> -->
            </div>
            <div class="body">
                <!-- <h2>
                    Aprovecha esta Preventa de
                </h2> -->
                <h1>
                    Galaxy  S21 Ultra 5G
                </h1>
            </div>
        </div>
        <div class="wrapper">
            <div class="btn-call-to-acction-2021 bg-white">
                <a href="javascript:void(0);">
                    <p>
                        COMPRAR
                    </p>
                </a>
            </div>
        </div>
        <div class="banner">
            <div class="img">
                <img class="W" src="./img/banner-1.jpg" alt="banner-samsung-1" />
                <img class="M" src="./img/banner-1.jpg" alt="banner-samsung-1" />
            </div>
        </div>
        <!-- <div class="scrolling">
            <div class="img">
                <img src="./img/scrolling.png"  alt="ico-scrolling" />
            </div>
        </div> -->
    </article>
</section>

<section class="banner-2" id="p1">
    <article>
        <div class="wrapper">
            <!-- <div class="head">
                <div class="center">
                    <div class="img">
                        <img src="./img/ico-banner-2.png" />
                    </div>
                </div>
            </div> -->
            <div class="body">
                <h2>
                    Galaxy  S21 5G | S21+ 5G
                </h2>
                <!-- <p>
                    La potencia de escribir sin lápiz ni papel. 
                </p> -->
            </div>
        </div>
        <div class="wrapper">
            <div class="btn-call-to-acction-2021 bg-black">
                <a href="javascript:void(0);">
                    <p>
                        COMPRAR
                    </p>
                </a>
            </div>
        </div>
        <div class="banner">
            <div class="img">
                <img class="W" src="./img/banner-2.jpg" alt="banner-samsung-2" />
                <img class="M" src="./img/banner-2.jpg" alt="banner-samsung-2" />
            </div>
            
            
        </div>
    </article>
</section>

<section class="banner-1-b">
    <article>
        <div class="wrapper">
            <div class="right M">
                <h5>
                    Accesorios
                </h5>
                <h3>
                    Oh, se pone<br/>
                    aún mejor
                </h3>
                <div class="btn-call-to-acction-2021 bg-black">
                    <a href="javascript:void(0);">
                        <p>
                            COMPRAR
                        </p>
                    </a>
                </div>
            </div>
            <div class="left">
                <!-- <h3>
                    Compra tu <br/>
                    <span>Galaxy Note20 Ultra</span><br/>
                    y lleva tus
                </h3> -->
                <div class="card-producto">
                    <div class="img">
                        <img src="./img/buds-1.png"/>
                    </div>
                </div>
            </div>
            <div class="right W-2">
                <h5>
                    Accesorios
                </h5>
                <h3>
                    Oh, se pone<br/>
                    aún mejor
                </h3>
                <div class="btn-call-to-acction-2021 bg-black">
                    <a href="javascript:void(0);">
                        <p>
                            COMPRAR
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="wrapper-fluid">
            <div class="box-informations">
                <p>
                    Descubre todos los regalos y cómo canjearlos
                    en <a href="https://www.dropbox.com/t/jjE3MGwOrYLSfD2N" target="_blank">shop.samsung.cl/regalogalaxy</a>
                </p> 
            </div>
        </div> -->
    </article>
</section>

<section class="banner-4">
    <article>
        <!-- <div class="banner">
            <div class="img">
                <img class="W" src="./img/banner-4.jpg" alt="banner-samsung-4" />
                <img class="M" src="./img/banner-4-m.jpg" alt="banner-samsung-4" />
            </div>
        </div> -->
        <div class="wrapper">
            <!-- <div class="btns">
                <div class="left">
                    <h3>Galaxy Note20</h3>
                </div>
                <div class="rigth">
                    <h3 class="active">Galaxy Note20 Ultra</h3>
                </div>
            </div> -->
            <div class="thumbnails">
                <div class="thumb">
                    <p class="title-thumb">Galaxy S21 Ultra 5G</p>
                    <div class="img">
                        <img src="./img/thumb-1.png" alt="thumb-1" />
                    </div>
                    <div class="list-colors">
                        <h6>
                            Colores básicos
                        </h6>
                        <ul>
                            <li>
                                <span style="background:#000000;"></span>
                                <p>
                                    Phantom Black
                                </p>
                            </li>
                            <li>
                                <span style="background:#c2c9d5;"></span>
                                <p>
                                    Phantom Silver
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="thumb">
                    <p class="title-thumb">Galaxy S21+ 5G</p>
                    <div class="img">
                        <img src="./img/thumb-2.png" alt="thumb-2" />
                    </div>
                    <div class="list-colors">
                        <h6>
                            Colores básicos
                        </h6>
                        <ul>
                            <li>
                                <span style="background:#a5a9c3;"></span>
                                <p>
                                    Phantom Violet
                                </p>
                            </li>
                            <li>
                                <span style="background:#000000;"></span>
                                <p>
                                    Phantom Black
                                </p>
                            </li>
                            <li>
                                <span style="background:#c2c9d5;"></span>
                                <p>
                                    Phantom Silver
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="thumb">
                    <p class="title-thumb">Galaxy S21 5G</p>
                    <div class="img">
                        <img src="./img/thumb-3.png" alt="thumb-3" />
                    </div>
                    <div class="list-colors">
                        <h6>
                            Colores básicos
                        </h6>
                        <ul>
                            <li>
                                <span style="background:#a5a9c3;"></span>
                                <p>
                                    Phantom Violet
                                </p>
                            </li>
                            <li>
                                <span style="background:#6e7074;"></span>
                                <p>
                                    Phantom Gray
                                </p>
                            </li>
                            <li>
                                <span style="background: #e9e9e7;"></span>
                                <p>
                                    Phantom White
                                </p>
                            </li>
                            <li>
                                <span style="background:#eec5bf;"></span>
                                <p>
                                    Phantom Pink
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="body-copy">
                <p>
                    * La disponibilidad de los colores puede variar según el país o el operador.
                </p>
            </div>

            <!-- <div class="thumbnails note20-ultra">
                <div class="thumb">
                    <div class="img">
                        <img src="./img/thumb-1-ultra.png" alt="thumb-1" />
                    </div>
                    <p>Mystic Bronze</p>
                </div>
                <div class="thumb">
                    <div class="img">
                        <img src="./img/thumb-2-ultra.png" alt="thumb-2" />
                    </div>
                    <p>Mystic White</p>
                </div>
                <div class="thumb">
                    <div class="img">
                        <img src="./img/thumb-3-ultra.png" alt="thumb-3" />
                    </div>
                    <p>Mystic Black</p>
                </div>
            </div> -->
        </div>
        
    </article>
</section>


<section class="especificaciones-producto">
    <article>
        <div class="wrapper">
            <div class="head">
                <h2>
                    Tamaño de la pantalla
                </h2>
                <p>
                    La pantalla más inteligente de un teléfono inteligente viene en tres tamaños.
                </p>
            </div>
            <hr/>
            <div class="body">
                <ul>
                    <li class="thumb-espec">
                        <div class="ico">
                            <img src="./img/ico-iphone.png" />
                        </div>
                        <h3>
                            6,8"
                        </h3>
                        <h4>
                            Pantalla Quad HD+ edge
                        </h4>
                        <h5>
                            Dimensiones:
                        </h5>
                        <p>
                            75,6 mm x 165,1 mm x 8,9 mm
                        </p>
                        <h5>
                            Peso:
                        </h5>
                        <p>
                            227 g (sub6)
                        </p>
                        <h5>
                            Lector de huellas
                            dactilares ultrasónico:
                        </h5>
                        <p>
                            7,5 mm x 8,25 mm
                        </p>
                    </li>
                    <li class="thumb-espec">
                        <div class="ico">
                            <img src="./img/ico-iphone.png" />
                        </div>
                        <h3>
                            6,7"
                        </h3>
                        <h4>
                            Pantalla plana FHD+
                        </h4>
                        <h5>
                            Dimensiones:
                        </h5>
                        <p>
                            75,6 mm x 161,5 mm x 7,8 mm
                        </p>
                        <h5>
                            Peso:
                        </h5>
                        <p>
                            200 g (sub6)
                        </p>
                        <h5>
                            Lector de huellas
                            dactilares ultrasónico:
                        </h5>
                        <p>
                            7,5 mm x 8,25 mm
                        </p>
                    </li>
                    <li class="thumb-espec">
                        <div class="ico">
                            <img src="./img/ico-iphone.png" />
                        </div>
                        <h3>
                            6,2"
                        </h3>
                        <h4>
                            Pantalla plana FHD+
                        </h4>
                        <h5>
                            Dimensiones:
                        </h5>
                        <p>
                            71,2 mm x 151,7 mm x 7,9 mm
                        </p>
                        <h5>
                            Peso:
                        </h5>
                        <p>
                            169 g (sub6)
                        </p>
                        <h5>
                            Lector de huellas
                            dactilares ultrasónico:
                        </h5>
                        <p>
                            7,5 mm x 8,25 mm
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>

<section class="especificaciones-producto">
    <article>
        <div class="wrapper">
            <div class="head">
                <h2>
                    Pantalla superfluida de 120 Hz
                </h2>
                <p>
                    La pantalla de desplazamiento más cómoda para que estés al día en todas las redes.
                </p>
            </div>
            <hr/>
            <div class="body">
                <ul>
                    <li class="thumb-espec-2">
                        <h3>
                            120 Hz
                        </h3>
                        <h4>
                            (10 Hz~120 Hz)
                        </h4>
                    </li>
                    <li class="thumb-espec-2">
                        <h3>
                            120 Hz
                        </h3>
                        <h4>
                            (48 Hz~120 Hz)
                        </h4>
                    </li>
                    <li class="thumb-espec-2">
                        <h3>
                            120 Hz
                        </h3>
                        <h4>
                            (48 Hz~120 Hz)
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>

<section class="especificaciones-producto">
    <article>
        <div class="wrapper">
            <div class="head">
                <h2>
                    Durabilidad
                </h2>
                <p>
                    Protegido por nuestro vidrio más resistente hasta el momento y resistente al agua y al polvo.
                </p>
            </div>
            <hr/>
            <div class="body">
                <ul>
                    <li class="thumb-espec-3">
                        <div class="ico">
                            <img src="./img/ico-corning.png" />
                        </div>
                        <h3>
                            Corning® Gorilla® Glass
                            Victus™
                        </h3>
                    </li>
                    <li class="thumb-espec-3">
                        <div class="ico">
                            <img src="./img/ico-corning.png" />
                        </div>
                        <h3>
                            Corning® Gorilla® Glass
                            Victus™
                        </h3>
                    </li>
                    <li class="thumb-espec-3">
                        <div class="ico">
                            <img src="./img/ico-corning.png" />
                        </div>
                        <h3>
                            Corning® Gorilla® Glass
                            Victus™
                        </h3>
                    </li>

                    <li class="thumb-espec-3 thumb-espec-3_b">
                        <div class="ico">
                            <img src="./img/ico.ip68.png" />
                        </div>
                        <h4>
                            IP68
                        </h4>
                    </li>
                    <li class="thumb-espec-3 thumb-espec-3_b">
                        <div class="ico">
                            <img src="./img/ico.ip68.png" />
                        </div>
                        <h4>
                            IP68
                        </h4>
                    </li>
                    <li class="thumb-espec-3 thumb-espec-3_b">
                        <div class="ico">
                            <img src="./img/ico.ip68.png" />
                        </div>
                        <h4>
                            IP68
                        </h4>
                    </li>

                </ul>
            </div>
        </div>
    </article>
</section>


<section class="especificaciones-producto">
    <article>
        <div class="wrapper">
            <div class="head">
                <h2>
                    Cámara frontal
                </h2>
                <p>
                    Nunca ha sido tan fácil poner tu mejor cara.
                </p>
            </div>
            <hr/>
            <div class="body">
                <ul>
                    <li class="thumb-espec-3 thumb-espec-3_c">
                        <div class="ico">
                            <img src="./img/ico-40mp.png" />
                        </div>
                        <h3>
                            40 MP
                        </h3>
                        <h5>
                            Cámara frontal 
                        </h5>
                    </li>
                    <li class="thumb-espec-3 thumb-espec-3_c">
                        <div class="ico">
                            <img src="./img/ico-40mp.png" />
                        </div>
                        <h3>
                            10 MP
                        </h3>
                        <h5>
                            Cámara frontal 
                        </h5>
                    </li>
                    <li class="thumb-espec-3 thumb-espec-3_c">
                        <div class="ico">
                            <img src="./img/ico-40mp.png" />
                        </div>
                        <h3>
                            10 MP
                        </h3>
                        <h5>
                            Cámara frontal 
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>

<section class="especificaciones-producto">
    <article>
        <div class="wrapper">
            <div class="head">
                <h2>
                    Cámara posterior y zoom
                </h2>
                <p>
                    Captura detalles con una definición y nitidez increíbles, todo con un solo toque.
                </p>
            </div>
            <hr/>
            <div class="body">
                <ul>
                    <li class="thumb-espec thumb-espec-a">
                        <div class="ico">
                            <img src="./img/ico-camara-1.png" />
                        </div>
                        <h3 class="box-num">
                            <span class="num">1</span>
                            12 MP
                        </h3>
                        <h5>
                            Lente ultra<br/>
                            gran angular
                        </h5>
                        <h3 class="box-num">
                            <span class="num">2</span>
                            108 MP
                        </h3>
                        <h5>
                            Lente gran angular
                        </h5>
                        <h3 class="box-num">
                            <span class="num">3</span>
                            <span class="num">4</span>
                            10 MP
                        </h3>
                        <h5>
                            2 lentes teleobjetivo
                        </h5>
                        <h3>
                            100X
                        </h3>
                        <h5>
                            Super Zoom
                        </h5>
                    </li>
                    <li class="thumb-espec thumb-espec-a">
                        <div class="ico">
                            <img src="./img/ico-camara-2.png" />
                        </div>
                        <h3 class="box-num">
                            <span class="num">1</span>
                            12 MP
                        </h3>
                        <h5>
                            Lente ultra<br/>
                            gran angular
                        </h5>
                        <h3 class="box-num">
                            <span class="num">2</span>
                            12 MP
                        </h3>
                        <h5>
                            Lente gran angular
                        </h5>
                        <h3 class="box-num">
                            <span class="num">3</span>
                            64 MP
                        </h3>
                        <h5>
                            Lente teleobjetivo
                        </h5>
                        <h3>
                            30X
                        </h3>
                        <h5>
                            Zoom
                        </h5>
                    </li>
                    <li class="thumb-espec thumb-espec-a">
                        <div class="ico">
                            <img src="./img/ico-camara-2.png" />
                        </div>
                        <h3 class="box-num">
                            <span class="num">1</span>
                            12 MP
                        </h3>
                        <h5>
                            Lente ultra<br/>
                            gran angular
                        </h5>
                        <h3 class="box-num">
                            <span class="num">2</span>
                            12 MP
                        </h3>
                        <h5>
                            Lente gran angular
                        </h5>
                        <h3 class="box-num">
                            <span class="num">3</span>
                            64 MP
                        </h3>
                        <h5>
                            Lente teleobjetivo
                        </h5>
                        <h3>
                            30X
                        </h3>
                        <h5>
                            Zoom
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>

<section class="especificaciones-producto">
    <article>
        <div class="wrapper">
            <div class="head">
                <h2>
                    Batería
                </h2>
                <p>
                    Energía que dura todo el día y más.
                </p>
            </div>
            <hr/>
            <div class="body">
                <ul>
                    <li class="thumb-espec-3 thumb-espec-3_d">
                        <div class="ico">
                            <img src="./img/ico-batery.png" />
                        </div>
                        <h3>
                            5000 <span>mAh</span>
                        </h3>
                        <h5>
                            (típica)
                        </h5>
                    </li>
                    <li class="thumb-espec-3 thumb-espec-3_d">
                        <div class="ico">
                            <img src="./img/ico-batery.png" />
                        </div>
                        <h3>
                            4800 <span>mAh</span>
                        </h3>
                        <h5>
                            (típica)
                        </h5>
                    </li>
                    <li class="thumb-espec-3 thumb-espec-3_d">
                        <div class="ico">
                            <img src="./img/ico-batery.png" />
                        </div>
                        <h3>
                            4000 <span>mAh</span>
                        </h3>
                        <h5>
                            (típica)
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="body">
                <div class="box-usb">
                    <div>
                        <img src="./img/ico-usb.png">
                    </div>
                    <p>
                        * USB Implementers Forum, Inc. (USB-IF) se creó en 1995 para apoyar y acelerar el mercado y la adopción de los consumidores de dispositivos compatibles con USB. La carga superrápida del Galaxy S21 5G, S21+ 5G y S21 Ultra 5G ha sido certificada para cumplir con los estándares USB, lo que significa que los productos han cumplido con los más altos estándares de la industria. Esta certificación se puede encontrar en www.usb.org.
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="especificaciones-producto">
    <article>
        <div class="wrapper">
            <div class="head">
                <h2>
                    Almacenamiento
                </h2>
                <p>
                    Espacio suficiente para guardar tus fotos y videos favoritos.
                </p>
            </div>
            <hr/>
            <div class="body">
                <ul>
                    <li class="thumb-espec-2 thumb-espec-3_e">
                        <h3>
                            -
                        </h3>
                        <h3>
                            256 GB
                        </h3>
                        <h3>
                            128 GB
                        </h3>
                        
                    </li>
                    <li class="thumb-espec-2 thumb-espec-3_e">
                        <h3>
                            -
                        </h3>
                        <h3>
                            256 GB
                        </h3>
                        <h3>
                            128 GB
                        </h3>
                        
                    </li>
                    <li class="thumb-espec-2 thumb-espec-3_e">
                        <h3>
                            -
                        </h3>
                        <h3>
                            256 GB
                        </h3>
                        <h3>
                            128 GB
                        </h3>
                        
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="body">
                <div class="box-cloud">
                    <div>
                        <img src="./img/ico-cloud.png">
                    </div>
                    <p>
                        Con OneDrive, tienes un lugar seguro para almacenar archivos y fotos. Sincroniza automáticamente archivos, fotos y videos desde tu teléfono y accede a ellos desde cualquier lugar, en cualquiera de tus dispositivos.
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="especificaciones-producto">
    <article>
        <div class="wrapper">
            <div class="head">
                <h2>
                    Compatibilidad con S Pen
                </h2>
                <p>
                    El primer S Pen para el Galaxy S para darte mayor precisión en todo lo que hagas.
                </p>
            </div>
            <hr/>
            <div class="body">
                <ul>
                    <li class="thumb-espec-3 thumb-espec-3_f">
                        <div class="ico">
                            <img src="./img/ico-pencil.png" />
                        </div>
                        <h5>
                            S Pen
                        </h5>
                        
                    </li>
                    <li class="thumb-espec-2 thumb-espec-3_e">
                        <h3>
                            -
                        </h3>
                        
                    </li>
                    <li class="thumb-espec-2 thumb-espec-3_e">
                        <h3>
                            -
                        </h3>
                        
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>



<section class="banner-9">
    <article>
        <div class="wrapper">
            <div class="head">
                <div class="left">
                    <p class="legal">
                        Imagen simulada. Promoción válida desde 28/08/2020 al 09/09/2020  por la compra de un Galaxy Note20 o Note20 Ultra, o hasta agotar stock de 100 unidades de Galaxy Note20 o de 100 unidades de Note20 Ultra. Modelos y colores según disponibilidad en tienda. Regalo consiste en un descuento, para conocer los términos y condiciones ingresa a shop.samsung.cl/regalogalaxy. Oferta no acumulable con otras promociones, descuentos, bonos, regalos o copagos.
                    </p>
                    <p>
                        Copyright© 1995-2020 SAMSUNG. Todos los derechos reservados.
                    </p>
                </div>
                <div class="right">
                    <div class="img">
                        <img src="./img/samsung-gray.png"  alt="logo-samsung" />
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>